<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница сверки</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
<body>

<div id="loading"></div>

<div id="content">
<form enctype="multipart/form-data">
    <input type="button" id="back" onclick="history.back();" value="Назад" title="Вернуться на предыдущую страницу"/>

    <h4>Выберите ключевые поля, по которым будет проходить сверка:</h4>
    <ul>
    {% for key in keylist %}
        <li><label for='{{key}}'><input id="{{key}}" class='req' type="checkbox" name='{{key}}' onclick='deRequire("req")' required>{{key}}</label></li>
    {% endfor %}
    </ul>
    <label for='key_all'><input id='key_all' type="checkbox" onClick='toggle(this, "req")'/>Отметить всё</label><br>
    <br><hr>

    <label for='Замена'><input id="Замена" type="checkbox" name="Замена">Заменить букву 'ё' на 'е' в записях</label><br><hr>

    <input id='coincidences' formaction="{{ url_for('coincidences') }}" formmethod="post" type="submit" value="Общие записи" onclick="loading();">
    <input id='differences' formaction="{{ url_for('differences') }}" formmethod="post" type="submit" value="Уникальные записи из обеих таблиц" onclick="loading();">
    <input id='joined' formaction="{{ url_for('joined') }}" formmethod="post" type="submit" value="Объединенные записи" onclick="loading();">
</form>
</div>

<script>
        function loading() {
            var f1 = document.getElementById('f1').value;
                if (f1) {
                    document.getElementById("loading").style.display = "block";
                    document.getElementById("content").style.display = "none";
                }
        }
</script>

</body>
</html>