<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница сверки</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<form enctype="multipart/form-data">
    <input type="button" onclick="history.back();" value="Назад"/>

    <h3>Выберите ключевые поля:</h3>
    <ul>
    {% for key in keylist %}
        <li><label for='{{key}}'><input id="{{key}}" class='req' type="checkbox" name='{{key}}' onclick='deRequire("req")' required>{{key}}</label></li>
    {% endfor %}
    </ul>
    <br><hr>

    <h3>Выберите поля для объединения из второй таблицы к первой:</h3>
    <ul>
    {% for check in checklist %}
        <li><label for='{{check}}'><input id="{{check}}" type="checkbox" name='{{check}}'>{{check}}</label></li>
    {% endfor %}
    </ul>
    <br><hr>

    <label for='Замена'><input id="Замена" type="checkbox" name="Замена">Заменить букву 'ё' на 'е' в записях</label><br><hr>

    <input formaction="{{ url_for('coincidences') }}" formmethod="post" type="submit" value="Совпавшие записи">
    <input formaction="{{ url_for('differences') }}" formmethod="post" type="submit" value="Уникальные записи">
    <input formaction="{{ url_for('joined') }}" formmethod="post" type="submit" value="Объединение">
</form>
</body>
</html>