<!DOCTYPE html>
<html lang="en">

<head>
    <title>Загрузка/выгрузка таблиц</title>
</head>

<body>
    <h1>Работа с таблицами</h1>

    <form enctype="multipart/form-data">

        <h4>Таблица №1:</h4>

        <input id="t1" type="file" name="file1" required="required" title="Необходимо выбрать файл"
               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

        <h4>Таблица №2:</h4>
        <input id='t2' type="file" name="file2" required="required" title="Необходимо выбрать файл"
               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"><br>
        <br>
        <input formmethod="post" type="submit" value="Сверить">
        <script type="text/javascript">
        document.getElementById('upload').onclick = function upload() {
        let token = localStorage.getItem('token')
        }
        </script>
    </form>
</body>

</html>